@import url(https://fonts.googleapis.com/css?family=Montserrat);

.wrapper{
  background: linear-gradient(to bottom right, #ad17a6 0%, #f5b6e7 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;
  overflow: hidden;
}
.heading{
    text-align: center;
    padding-top: 80px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
}
.heading2{
    text-align: center;
    padding-top: 23px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
}
#attlevel , .heading3{
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
}
#attlevel{
    background: rgba(255, 255, 255, 0.35);
    border-radius: 50px;
    font-size: 25px;
    margin-top: 120px;
    padding: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    padding-top:30px;
}
  

.choosebutton {
    display: block;
    border-radius: 50px;
    position:relative;
    background-color: rgba(255,255,255,0.2);
    border: none;
    z-index: 2;
    width: 250px;
    padding: 10px 15px;
    margin: 0 auto 30px auto;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    transition: 0.3s ease;
    font-weight: 400;
    border: none;

}
.choosebutton:hover{
    background-color: rgba(255,255,255,0.3);
    transform: scale(1.15);
}

.code{
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
   
}

#ipadd{

    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 300;

}

.submit{
    display: block;
    border-radius: 50px;
    position:relative;
    background-color: rgba(255,255,255,0.2);
    z-index: 2;
    width: 250px;
    padding: 10px 15px;
    margin: 0 auto 30px auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 400;
    border: none;

}
.enterclass{
    display: block;
    border-radius: 50px;
    position:relative;
    background:linear-gradient(to right, #c75cc2 34%, #e7c7e2 100%);;
    z-index: 2;
    width: 180px;
    padding: 10px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: bold;
    border:none;
    transition: .3s ease;
}
.back{
    display: block;
    border-radius: 50px;
    position:relative;
    background-color: rgba(255,255,255,0.5);
    border: none;
    z-index: 2;
    width: 50px;
    padding: 10px 15px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: bold;
    transition: .3s, ease;

}
::placeholder{
    color:white;
    opacity: 0.5;
}
.back, .enterclass:focus, .choosebutton:focus, .submit:focus{
    outline: none;
    
}
.back:hover, .enterclass:hover{
    transform: scale(1.1);
}
#studentvalues{
    text-align: left;
    margin-top: 30px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-collapse:separate; 
    border-spacing:0 15px; 

}
tr{
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    font-weight: 250;
}
td:first-child, th:first-child{
    padding:10px;
    padding-left: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}
td:nth-child(2),th:nth-child(2) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

  }
  .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: -100px;
    animation: square 5s infinite; 
    transition-timing-function: linear;
  }
  .bg-bubbles li:nth-child(1) {
    left: 10%;
  }
  .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 50px;
    height: 50px;
    animation-delay: 1s;
    animation-duration: 7s;
  }
  .bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 1s;
    
  }
  .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 3s;
    background-color: rgba(255, 255, 255, 0.15);
  }
  .bg-bubbles li:nth-child(5) {
    left: 70%;
  }
  .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 70px;
    height: 70px;
    animation-delay: 1s;
  }
  .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
    animation-duration: 5s;
  }
  .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 10s;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 100px;
    height: 100px;
    animation-delay: 4s;        
  }
  @keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }
  @keyframes square {
    0% {
              transform: translateY(0);
    }
    100% {
              transform: translateY(-700px) rotate(600deg);
    }
  }
  
